header {
  width: 100%;
  color: $white;
  background-color: $github-black;

  .container {
    display: flex;
    justify-content: space-between;
    line-height: 2.5em;
    padding: 1rem;
  }

  ul,
  li,
  a {
    display: flex;
    align-items: center;
  }

  ul {
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: lighten($github-black, 60);
    text-decoration: none;
    padding: 0 0.5em;
  }

  p {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
  }
}
